<h1>{{ artist.name }}</h1>

<p ng-show="artist.type">Type: {{ artist.type }} <span ng-show="artist.gender">({{ artist.gender }})</span></p>
<p ng-show="artist.area">Area: <span mb-area="artist.area"></span></p>
<p ng-show="artist.beginArea">Begin area: <span mb-area="artist.beginArea"></span></p>
<p ng-show="artist.endArea">End area: <span mb-area="artist.endArea"></span></p>

<p class="text-muted"><small>See this artist at <a href="//musicbrainz.org/artist/{{ artist.id }}">MusicBrainz</a></small></p>
