<h1><span mb-artist-credit="release.artists"></span> &ndash; {{ release.name }}</h1>

<div class="row">

  <div class="col-md-8">

    <h3>Tracklist</h3>

    <table class="table table-striped table-condensed table-release">
      <thead ng-repeat-start="medium in release.mediums">
        <tr>
          <th></th>
          <th colspan="2">Disc {{ medium.position }}<span ng-show="medium.name">: {{ medium.name }}</span></th>
        </tr>
      </thead>
      <tbody ng-repeat-end>
        <tr ng-repeat="track in medium.tracks">
          <td class="column-track text-muted">{{ track.number || track.position }}.</td>
          <td class="column-title">
            {{ track.name }}
            <div ng-show="showArtistCredit(track)"><small> &ndash; <span mb-artist-credit="track.artists"></span></div>
          </td>
          <td class="column-length text-muted">{{ track.length | duration }}</td>
        </tr>
      </tbody>
    </table>

  </div>

  <div class="col-md-4">

    <dl class="detail">
      <span ng-show="release.releaseGroup.type">
        <dt>Type</dt>
        <dd>{{ release.releaseGroup.type }} <span ng-show="release.releaseGroup.secondaryTypes.join"> + {{ release.releaseGroup.secondaryTypes.join(', ') }}</span></dd>
      </span>
      <span ng-show="release.status">
        <dt>Status<dt>
        <dd>{{ release.status }}</dd>
      </span>
      <span>
        <dt>Format</dt>
        <dd>{{ getCombinedFormat(release.mediums) }}</dd>
      </span>
      <span ng-show="release.language || release.script">
        <dt>Language<dt>
        <dd>{{ release.language || 'Unknown' }}<span ng-show="release.script"> ({{ release.script }})</span></dd>
      </span>
    <dl>

    <p class="text-muted"><small>See this release at <a href="//musicbrainz.org/release/{{ release.id }}">MusicBrainz</a></small></p>

  </div>


